@import url("theme.css");

.wy-nav-content {
    max-width: none;
}

h1 {
    border-bottom: 6px solid cornflowerblue;
}

h2 {
    border-bottom: 2px solid cornflowerblue;
}

h3 {
    border-bottom: 1px dotted cornflowerblue;
}
